javafx/src.zip
javafx/legal/javafx.base/ADDITIONAL_LICENSE_INFO
javafx/legal/javafx.base/ASSEMBLY_EXCEPTION
javafx/legal/javafx.base/LICENSE
javafx/legal/javafx.controls/ADDITIONAL_LICENSE_INFO
javafx/legal/javafx.controls/ASSEMBLY_EXCEPTION
javafx/legal/javafx.controls/LICENSE
javafx/legal/javafx.fxml/ADDITIONAL_LICENSE_INFO
javafx/legal/javafx.fxml/ASSEMBLY_EXCEPTION
javafx/legal/javafx.fxml/LICENSE
javafx/legal/javafx.graphics/ADDITIONAL_LICENSE_INFO
javafx/legal/javafx.graphics/ASSEMBLY_EXCEPTION
javafx/legal/javafx.graphics/jpeg_fx.md
javafx/legal/javafx.graphics/LICENSE
javafx/legal/javafx.graphics/mesa3d.md
javafx/legal/javafx.media/ADDITIONAL_LICENSE_INFO
javafx/legal/javafx.media/ASSEMBLY_EXCEPTION
javafx/legal/javafx.media/directshow.md
javafx/legal/javafx.media/glib.md
javafx/legal/javafx.media/gstreamer.md
javafx/legal/javafx.media/libffi.md
javafx/legal/javafx.media/LICENSE
javafx/legal/javafx.swing/ADDITIONAL_LICENSE_INFO
javafx/legal/javafx.swing/ASSEMBLY_EXCEPTION
javafx/legal/javafx.swing/LICENSE
javafx/legal/javafx.web/ADDITIONAL_LICENSE_INFO
javafx/legal/javafx.web/ASSEMBLY_EXCEPTION
javafx/legal/javafx.web/icu_web.md
javafx/legal/javafx.web/libxml2.md
javafx/legal/javafx.web/libxslt.md
javafx/legal/javafx.web/LICENSE
javafx/legal/javafx.web/webkit.md
javafx/lib/javafx-swt.jar
javafx/lib/javafx.base.jar
javafx/lib/javafx.controls.jar
javafx/lib/javafx.fxml.jar
javafx/lib/javafx.graphics.jar
javafx/lib/javafx.media.jar
javafx/lib/javafx.properties
javafx/lib/javafx.swing.jar
javafx/lib/javafx.web.jar
javafx/lib/libavplugin-54.so
javafx/lib/libavplugin-56.so
javafx/lib/libavplugin-57.so
javafx/lib/libavplugin-ffmpeg-56.so
javafx/lib/libavplugin-ffmpeg-57.so
javafx/lib/libavplugin-ffmpeg-58.so
javafx/lib/libavplugin-ffmpeg-59.so
javafx/lib/libavplugin-ffmpeg-60.so
javafx/lib/libdecora_sse.so
javafx/lib/libfxplugins.so
javafx/lib/libglass.so
javafx/lib/libglassgtk3.so
javafx/lib/libgstreamer-lite.so
javafx/lib/libjavafx_font_freetype.so
javafx/lib/libjavafx_font_pango.so
javafx/lib/libjavafx_font.so
javafx/lib/libjavafx_iio.so
javafx/lib/libjfxmedia.so
javafx/lib/libjfxwebkit.so
javafx/lib/libprism_common.so
javafx/lib/libprism_es2.so
javafx/lib/libprism_sw.so
